@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 17, 17, 17;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.cursor {
  height: 50px;
  width: 50px;
  border: 2px solid whitesmoke;
  border-radius: 50%;
  position: absolute;
  transform-origin: 100% 100%;
  box-sizing: border-box;
  transition: opacity 0.25s ease;
  backdrop-filter: grayscale(1);
  pointer-events: none;
}
.cursor__dot {
  height: 12px;
  width: 12px;
  background: whitesmoke;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  transition: opacity 0.25s ease;
}

.cursor__block {
  opacity: 1;
}

.cursor__none {
  opacity: 0;
}