@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 17, 17, 17;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.cursor {
  height: 50px;
  width: 50px;
  border: 1px solid whitesmoke;
  border-radius: 50%;
  position: absolute;
  transform-origin: 100% 100%;
  box-sizing: border-box;
  transition: opacity 0.25s ease;
  backdrop-filter: grayscale(1);
  pointer-events: none;
}
.cursor__dot {
  height: 8px;
  width: 8px;
  background: whitesmoke;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  transition: opacity 0.25s ease;
}

.cursor__block {
  opacity: 1;
}

.cursor__none {
  opacity: 0;
}

.circular__text__container{
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.logo{
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: yellow;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  filter: brightness(1.5) contrast(1.5);
}

.rotating___text{
  position: absolute;
  width: 2%;
  height: 150%;
  scale:0.47;
  animation: rotate__text 10s linear infinite;
}

.rotating___text p{
  position: absolute;
  left:110%;
  transform-origin: 0 112.5px;
}

@keyframes rotate__text {
  0%
  {
    transform: translate3d(0px, 0px, 0px) rotate(0deg);
  }
  100%
  {
    transform: translate3d(0px, 0px, 0px) rotate(360deg);
  }
}

@keyframes spin {
  to {
      transform: rotate(360deg);
  }
}

@keyframes spin__two {
  0%
  {
    transform: translate3d(0px, 0px, 0px) rotate(360deg);
  }
  100%
  {
    transform: translate3d(0px, 0px, 0px) rotate(0deg);
  }
}

.animate__spin {
  animation: spin 3s linear infinite;
}

.animate__spin__two{
  animation: spin__two 5s linear infinite;
}
