@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --color-dark-rgb: 0, 0, 0;
  --color-dark: rgba(var(--color-dark-rgb), 1);
  --color-light-rgb: 245, 247, 250;
  --color-light: rgba(var(--color-light-rgb), 1);
  --color-white-rgb: 255, 255, 255;
  --color-white: rgba(var(--color-white-rgb), 1);
  --color-black-rgb: 0, 0, 0;
  --color-black: rgba(var(--color-black-rgb), 1);
  --color-primary: #FE4F31;
  --color-secondary: #FFE600;
  --color-gray: #C1C3C7;
  --color-lightgray: #E6E8EB;
  --color-border-rgb: 159, 161, 163;
  --color-border: rgba(var(--color-border-rgb), 0.225);
  --color-border-600: rgba(var(--color-border-rgb), 0.35);
  --color-border-800: rgba(var(--color-border-rgb), 0.45);
  --color-border-900: rgba(var(--color-border-rgb), 1);
  --color-border-light: var(--color-border-light);
  --color-text: rgba(var(--color-dark-rgb), 0.7);
  --color-text-light: rgba(var(--color-light-rgb), 0.7);
  --color-alert-error: var(--color-primary);
  --color-alert-success: #46d054;
  --animation-primary: 0.4s cubic-bezier(.75, 0, .25, 1);
  --animation-fast: 0.2s cubic-bezier(.75, 0, .25, 1);
  --animation-smooth: 0.6s cubic-bezier(.75, 0, .25, 1);
  --animation-navigation: 1.2s cubic-bezier(.75, 0, .25, 1);
  /* --animation-navigation: 0.6s cubic-bezier(.6, 0, .4, 1); */
  --animation-navigation-forward: 1s cubic-bezier(0.8, 0, 0.1, 1);
  --animation-navigation-backward: 0.6s cubic-bezier(0.8, 0, 0.1, 1);
  --animation-navigation-fade: 0.3s ease-in-out;
  --section-padding: min(9vw, 9em);
  --container-padding: var(--col-gap);
  --row-padding: clamp(2em, 4vw, 4em);
  --col-padding: clamp(2em, 4vw, 4em);
  --row-gap: max(1.75em, 1.75vw);
  --col-gap: max(1.75em, 1.75vw);
  --title-size: max(5em, 7.5vw);
  --border-radius: 0.35em;
  --main-navigation-height: 4.6em;
  --single-grid-col: calc((99.99vw - (var(--col-gap) * 2)) / 4);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 17, 17, 17;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

html{
  cursor: none;
}

body {
  overflow-x: hidden !important;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.cursor{
  position: fixed;
  width: 40px;
  height: 40px;
  margin-left: -20px;
  margin-top: -20px;
  border-radius: 50%;
  border: 2px solid #fff;
  transition: transform 0.3s ease;
  transform-origin: center center;
  pointer-events: none;
  mix-blend-mode: difference; 
  z-index: 1000;
}

.cursor_dot{
  position: absolute;
  width: 8px;
  height: 8px;
  margin-left: -20px;
  margin-top: -20px;
  border-radius: 50%;
  border: 2px solid #fff;
  transition: transform 0.3s ease;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 1000;
}

.grow, .grow-small{
  transform: scale(4);
  background: white;
  mix-blend-mode: difference; 
  border: none;
}

.grow-small{
  transform: scale(2);
}

.cursor__dot {
  height: 8px;
  width: 8px;
  background: whitesmoke;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  transition: opacity 0.25s ease;
}

.cursor__block {
  opacity: 1;
}

.cursor__none {
  opacity: 0;
}

.circular__text__container{
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.logo{
  position: absolute;
  width: 20px;
  height: 20px;
  
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  filter: brightness(1.5) contrast(1.5);
}

.rotating___text{
  position: absolute;
  width: 2%;
  height: 150%;
  scale:0.47;
  animation: rotate__text 10s linear infinite;
}

.rotating___text p{
  position: absolute;
  left:110%;
  transform-origin: 0 112.5px;
}

@keyframes rotate__text {
  0%
  {
    transform: translate3d(0px, 0px, 0px) rotate(0deg);
  }
  100%
  {
    transform: translate3d(0px, 0px, 0px) rotate(360deg);
  }
}

@keyframes spin {
  to {
      transform: rotate(360deg);
  }
}

@keyframes spin__two {
  0%
  {
    transform: translate3d(0px, 0px, 0px) rotate(360deg);
  }
  100%
  {
    transform: translate3d(0px, 0px, 0px) rotate(0deg);
  }
}

.animate__spin {
  animation: spin 3s linear infinite;
}

.animate__spin__two{
  animation: spin__two 5s linear infinite;
}

/* ------------------------- Grid -------------------------------------------------- */

.custom__grid {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0 2px;
  display: flex;
  justify-content: space-between;
  z-index: 800;
  pointer-events: none;
  user-select: none;
  transition: opacity var(--animation-navigation-backward);
}

.custom__grid .grid-line {
  width: 1px;
  flex-shrink: 0;
  flex-grow: 0;
  background: #cdc1c1;
}

[data-navigation-status="active"] .custom__grid {
  transition: var(--animation-navigation-forward);
  opacity: 0;
}

.navigation .custom__grid {
  opacity: 0;
  z-index: 0;
  transition: var(--animation-navigation-backward);
}

[data-navigation-status="active"] .navigation .grid {
  transition: var(--animation-navigation-forward);
  opacity: 1;
}

@media screen and (max-width: 1120px) {
  .custom__grid .grid-line:last-child {
     display: none;
  }
}

@media screen and (max-width: 880px) {
  .custom__grid .grid-line:nth-last-child(2) {
     display: none;
  }
}

@media screen and (max-width: 600px) {
  .custom__grid .grid-line:nth-last-child(3) {
     display: none;
  }
}

.gradient__circle__1 {
  top: 0;
  bottom: 0;
  left: var(--single-grid-col);
  transform: translate(-50%, -50%);
}
.gradient__circle {
  --gradient-size: calc(var(--title-size) * 9);
  width: var(--gradient-size);
  height: var(--gradient-size);
  background: radial-gradient(circle, #ff3700 0%, rgba(var(--color-dark-rgb), 0) 66%);
  position: absolute;
  opacity: 0.6;
  pointer-events: none;
  border-radius: 50%;
}
